<!doctype html>
<html ng-app="app">
  <head>
    <title>$q</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="dest/css/myDialogs.min.css" />
    <script type="text/javascript" src="src/js/angular.js" ></script>
    <script type="text/javascript" src="dest/js/angular-myDialogs.min.js" ></script>
    <style>
      body{
        background: #f0f0f0;
        font: 14px/1.4 "微软雅黑";
      }
      .DemoList div{
        padding: 10px;
      }
      .DemoList div:nth-child(odd){
        background: #fff;
      }
      .popFream{
        padding: 10px;
        background-color: #fff;
      }
    </style>
  </head>
  <body >
      <div class="DemoList" ng-controller="HomeController">
          <div ng-click="myAlert();">myAlert</div>
          <div ng-click="myError();">myError</div>
          <div ng-click="mySuccess();">mySuccess</div>
          <div ng-click="myBtnAlert();">myBtnAlert</div>
          <div ng-click="myBtnError();">myBtnError</div>
          <div ng-click="myBtnSuccess();">myBtnSuccess</div>
          <div ng-click="myConfirm();">myConfirm</div>
          <div ng-click="myFream();">myFream</div>
      </div>
  <script>
    (function(angular){

      var app = angular.module('app', ['myDialogs'])
      .controller('HomeController', function($scope,$q,$timeout,myDialogs) {
          
          //console.log($scope);
          $scope.myAlert = function(){
//          var popUp = myDialogs.popFream({
//            template: "<div ng-click='aaa();'><span>{{text}}</span></div>",
//            controller: "PopController"
//          });
            myDialogs.myAlert({
              "msg":"我是一个普通Alert"
            });
          }
          
          $scope.myError = function(){
            myDialogs.myAlert({
              "msg":"我是一个错误提示",
              type: "error"
            });
          }
          
          $scope.mySuccess = function(){
            myDialogs.myAlert({
              "msg":"我是一个成功提示我是一个成功提示我是一个成功提示我是一个成功提示",
              "backMask": true,
              type: "success"
            });
          }
          
          $scope.myBtnAlert = function(){
            myDialogs.myBtnAlert({
              "msg":"我是一个普通Alert"
            });
          }
          
          $scope.myBtnError = function(){
            myDialogs.myBtnAlert({
              "msg":"我是一个错误提示我是一个错误提示我是一个错误提示我是一个错误提示",
              type: "error"
            });
          };
          
          $scope.myBtnSuccess = function(){
            myDialogs.myBtnAlert({
              "msg":"我是一个成功提示",
              "backMask": true,
              type: "success"
            });
          }
          
          $scope.myConfirm = function(){
            myDialogs.myConfirm({
              "msg":"我是一个myConfirm,我是一个粉刷匠,粉刷十分忙",
              "backMask": true,
              "yesCallback": function(){
                alert("yesCallback");
              }
            });
          }
          
          $scope.myFream = function(){
            myDialogs.myFream({
              "template": "<div class='popFream'><div><input ng-model='text' /></div><span>{{text}}</span><p ng-click='aaa();'>点我关闭</p></div>",
              "controller": "PopController",
              "backMask": true,
              "data":{
                "args": "传过来的参数"
              }
            });
          }
          
      });
      app.controller("PopController",function($scope,$DialogsPromise,$DialogsData){
          $scope.aaa = function(){
            $DialogsPromise.close().then(function(){
              //document.querySelector("body").style.backgroundColor = "#2d3e50";
              alert($DialogsData.args);
            });
          };
          //console.log($modalInstance);
          $scope.text = "我会跟着文本框改变";
      });
      
      
    })(window.angular);
  </script>
  </body>
</html>