<!doctype html>
<html ng-app="app">
  <head>
    <title>$q</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="css/myDialogs.css" />
    <script type="text/javascript" src="js/angular.js" ></script>
    <script type="text/javascript" src="dest/angular-myDialogs.min.js" ></script>
    <style>
      body{
        background: #f0f0f0;
        font: 14px/1.4 "微软雅黑";
      }
      .DemoList div{
        padding: 10px;
      }
      .DemoList div:nth-child(odd){
        background: #fff;
      }
    </style>
  </head>
  <body >
      <div class="DemoList" ng-controller="HomeController">
          <div ng-click="myAlert();">myAlert</div>
          <div ng-click="myError();">myError</div>
          <div ng-click="mySuccess();">mySuccess</div>
          <div ng-click="myBtnAlert();">myBtnAlert</div>
          <div ng-click="myBtnError();">myBtnError</div>
          <div ng-click="myBtnSuccess();">myBtnSuccess</div>
          <div ng-click="myConfirm();">myConfirm</div>
      </div>
  <script>
    (function(angular){




      var app = angular.module('app', ['myDialogs'])
      .controller('HomeController', function($scope,$q,$timeout,myDialogs) {
          
          //console.log($scope);
          $scope.myAlert = function(){
//          var popUp = myDialogs.popFream({
//            template: "<div ng-click='aaa();'><span>{{text}}</span></div>",
//            controller: "PopController"
//          });
            myDialogs.myAlert({
              "msg":"我是一个普通Alert"
            });
          }
          
          $scope.myError = function(){
            myDialogs.myAlert({
              "msg":"我是一个错误提示",
              type: "error"
            });
          }
          
          $scope.mySuccess = function(){
            myDialogs.myAlert({
              "msg":"我是一个成功提示我是一个成功提示我是一个成功提示我是一个成功提示",
              "backMask": true,
              type: "success"
            });
          }
          
          $scope.myBtnAlert = function(){
            myDialogs.myBtnAlert({
              "msg":"我是一个普通Alert"
            });
          }
          
          $scope.myBtnError = function(){
            myDialogs.myBtnAlert({
              "msg":"我是一个错误提示我是一个错误提示我是一个错误提示我是一个错误提示",
              type: "error"
            });
          };
          
          $scope.myBtnSuccess = function(){
            myDialogs.myBtnAlert({
              "msg":"我是一个成功提示",
              "backMask": true,
              type: "success"
            });
          }
          
          $scope.myConfirm = function(){
            myDialogs.myConfirm({
              "msg":"我是一个myConfirm,我是一个粉刷匠,粉刷十分忙",
              "backMask": true,
              "yesCallback": function(){
                alert("yesCallback");
              }
            });
          }
          
          $scope.aaa = function(){
            //alert("1、旧密码不能为空\n2、新密码不能为空<br />3、重复密码不能为空<br />值里面的<br />我的本意是想用来换行的，但是把这个变量直接绑定到页面不会显示换行，求解决办法");
            myDialogs.cancel();
          };
      });
      app.controller("PopController",function($scope,$DialogsPromise){
          $scope.aaa = function(){
            $DialogsPromise.close().then(function(){
              $("body").css("background","red");
            });
          };
          //console.log($modalInstance);
          $scope.text = "<p>1、旧密码不能为空 <br /> 2、新密码不能为空<br /><";
      });
      
      
    })(window.angular);
  </script>
  </body>
</html>