<!doctype html>
<html ng-app="app">
  <head>
    <title>$q</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/myDialogs.css" />
    <script type="text/javascript" src="js/angular.js" ></script>
    <script type="text/javascript" src="js/myDialogs.js" ></script>
    <style>
      body{
        background: #1bbc9d;
      }
      .fade-in.ng-enter,
      .fade-in.ng-leave {
      transition: 2s linear all;
      -webkit-transition: 2s linear all;
      }
      .fade-in.ng-enter {
      opacity: 0;
      color: green;
      }
      .fade-in.ng-enter.ng-enter-active {
      opacity: 1;
      color: black;
      }
      .fade-in.ng-leave {}
      .fade-in.ng-leave.ng-leave-active {
      opacity: 0;
      }
    </style>
  </head>
  <body >
      <div ng-controller="HomeController">
          <div ng-click="clickme();">please click me </div>
      </div>
  <script>
    (function(angular){




      var app = angular.module('app', ['myDialogs'])
      .controller('HomeController', function($scope,$q,$timeout,myDialogs) {
          
          var layout = function(){
            var defered = $q.defer();
            var num = Math.round(Math.random()  *10);
            $timeout(function(){
              if(num>=5){
                defered.resolve(num+"大于5");
              }else{
                defered.reject(num+"小于5");
              }
            },2000);
            return defered.promise;
          };
          //console.log($scope);
          $scope.clickme = function(){
//          UserService.setCurrentUser("aaaa");
//          alert(UserService.getCurrentUser());
//          var popUp = myDialogs.popFream({
//            template: "<div ng-click='aaa();'><span>{{text}}</span></div>",
//            controller: "PopController"
//          });
            myDialogs.myAlert({
              "msg":"im a message from html 翻译成中文就是我是个信息"
            });

          }
          
          $scope.aaa = function(){
            //alert("1、旧密码不能为空\n2、新密码不能为空<br />3、重复密码不能为空<br />值里面的<br />我的本意是想用来换行的，但是把这个变量直接绑定到页面不会显示换行，求解决办法");
            myDialogs.cancel();
          };
      });
      app.controller("PopController",function($scope,$DialogsPromise){
          $scope.aaa = function(){
            $DialogsPromise.close().then(function(){
              $("body").css("background","red");
            });
          };
          //console.log($modalInstance);
          $scope.text = "<p>1、旧密码不能为空 <br /> 2、新密码不能为空<br /><";
      });
      
      
    })(window.angular);
  </script>
  </body>
</html>